 .tabs .tab-header:after {
   display: block;
   content: '.';
   clear: both;
   height: 0;
   visibility: hidden;
 }

 .tabs .tab-item {
   float: left;
 }

 .tabs .tab-body {
   position: relative;
 }
 .tabs .tab-panel {
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   display: none;
 }